@model MedicalPractice.Domain.Entities.Medical_Products

@{
    ViewBag.Title = "ProductSummary";
}
   
<style>
    .product {
        width: 250px;
        height: 290px;
        border: 2px solid red;
        border-radius: 15%;
        display: inline-block;
        margin: 10px 5px;
    }
    .name {
        font-size: 20px;
        font-weight: bold;
    }
    .desc {
        text-align:justify;
        padding: 0 15px;
    }
    .buttonCenter {
        text-align: center;
    }
</style>

<div class="product">
    <p class="text-center name">@Model.Name</p>
    <p class="text-center desc">@Model.Description</p>
    <p class="text-center">@Model.Price zł</p>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="buttonCenter">
            @Html.Hidden("productId", Model.Medical_ProductsID)
            @*@Html.HiddenFor(x => x.Medical_ProductsID)*@
            @*@Html.Hidden("returnUrl", Request.Url.PathAndQuery)*@
            <input type="submit" class="btn btn-success" value="Dodaj do koszyka" />
            @*<button class="btn-primary buttonCenter" >Do koszyka</button>*@
        </div>
    }
    
</div>

