@using MedicalPractice.Domain.Entities;
@model IEnumerable<Doctor>

@{
    ViewBag.Title = "Lekarze";
}

<style>
    h2 {
        text-align: center;        
    }

    .button-right {
        margin-left: 900px;        
    }

</style>

<h2>Nasi Lekarze</h2>
<h2></h2>
@foreach (var l in Model)
{
    @Html.Partial("DoctorSummary", l);
}